html{
  /*font-size: 62.5%;*/
}
.head {
  padding-bottom: calc(10rem - 4.5rem);
  background-image: url("../img/bghead.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.links{
  font-size: 1.5rem;
}
.text-shadow-07{
  text-shadow: 0px 7px 6px rgba(0,0,0,0.7);
}
.historia{
  background-color: #fff;
  padding: 5rem; 
}
.historia img{
  height: 200px;
  margin-top: -50px;
  margin-left: -50px;
}
.upper-brand{
  margin-bottom: -10px;
  font-size: 12px;
  color: #4e4e4e;
}
.brand{
  font-size: 2rem;
  font-weight: 700;
}
.black{
  color:#000;
}
.blue{
  color: #0363bc;
}
.divisor {
  margin: -1rem 1rem 1rem 0rem;
  background-color: currentColor;
  width: 9rem;
  color: #0363bc;
  border: 0;
  opacity: 1;
}
.vantagens {
  background-image: url("../img/vantagens.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.upper-vantagens{
  margin-bottom: 0;
}
.vantagens-list{
  padding-top: 4.5rem;
}
.vantagem-itens{
  font-size: 0.75rem;
  align-content: center;
}
@media (min-width: 992px) {
.head {
    height: 100vh;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
  }
.historia img{
  height: 400px;
  margin-top: -50px;
}
.vantagens {
  height: 100vh;
  min-height: 45rem;
}  
}