.header {
	padding-bottom: calc(10rem - 4.5rem);
	background-image: url("../img/bghead.png");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	font-family: 'Vegur Regular'; 
}
.logo img{
	width: 284px;
	height: 60px;
}
.links{
	font-size: 1rem;
}
.text-white {
	color: #fff !important;
}
strong.header {
	font-family: 'Vegur Bold'; 
} 
strong {
	font-weight: bolder;
} 
.text-shadow-07{
	text-shadow: 0px 7px 6px rgba(0,0,0,0.7);
}
.historia{
	background-color: #fff;
	padding: 5rem; 
}
figure{
	margin: 1rem 0px !important;
}
.upper-title{
	font-weight: 600;
	margin-bottom: -10px;
	font-size: 12px;
	color: #4e4e4e;
}
.upper-title-white{
	font-weight: 600;
	margin-bottom: -10px;
	font-size: 12px;
	color: #fff;
}
.title{
	font-weight: 700;
}

hr {
	margin: 1rem 0;
	color: inherit;
	background-color: currentColor;
	border: 0;
	opacity: 0.25;
}

hr:not([size]) {
	height: 1px;
}
.divisor {
	margin: -1rem 1rem 1rem 0rem !important;
	background-color: currentColor !important;
	width: 9rem !important;
	color: #0363bc !important;
	border: 0 !important;
	opacity: 1 !important;
}
.vantagens {
	background: rgb(0,97,188);
	background: linear-gradient(90deg, rgba(0,97,188,1) 0%, rgba(51,55,114,1) 100%);
}
.vantagens-img{
	height: 35rem;
	background-image: url("../img/vantagens.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
}
.upper-vantagens{
	margin-bottom: 0;
}
.vantagens-list{
	padding-top: 4.5rem;
}
.vantagens-itens{
	font-size: 1rem;
}
.number{
	height: 50px;
	width: 50px;
	background-color: #002460;
	color: #fff;
	font-size: 32px;
	font-weight: bold;
	margin-bottom:15px;
}
.row{
	margin-bottom: 0px !important;
}
h3{
	font-weight: 700;
}
.espec-img{
	width: 600px;
	height: 150px;
	object-fit: cover;
	object-position: center;
}
.espec-icon{
	font-size: 50px;
}
.espec-item{
	padding-top: 20px;
	height: 250px;
	font-size: 26px;
	font-family: "Bebas";
	margin-bottom: 15px;
}
.espec-light{
	background-color: #d1d1d1;
	color: #002460;
}
.espec-dark{
	background-color: #002460;
	color: #fff;
}
.espec-button{
	background-color: rgba(255,255,255,0);
	color:  #2196F3 !important;
	font-family: "Vegur Regular";
	border-style: solid;
	border-color: #2196F3;
	box-shadow: none !important;
	margin-top: 1rem;
}
.espec-button:hover ,.espec-button:active, .espec-button:focus{
	background-color: #2196F3 !important;
	color: #ffffff !important;
}
.contato{
	margin-top: 5rem;
	height: 7rem;
	background-color: #2196F3;
	color: #fff;
	font-size: 2rem;
	font-family: "Vegur Light";
}
.contato-button{
	background-color: rgba(255,255,255,1);
	color:  #2196F3 !important;
	font-family: "Vegur Regular";
	border-style: solid !important; 
	border-color: #2196F3 !important;
	border-radius: 10px;
	box-shadow: none !important;
	margin-top: 2rem;
	height: 3rem;
}
.contato-button:hover ,.contato-button:active, .contato-button:focus{
	background-color: #2196F3 !important;
	color: #ffffff !important;
	border-color: #ffffff !important;
}
.marcas-dir{
	background-color: #002460;
	color: #fff;
	margin-right: 100px;
	margin-top: -18px	;
}
.marcas-dir-img{
	height: 187px;
}
.marcas-dir h4{
	padding:13px 0px 0px 50px;
}
footer{
	background-image: url("../img/bgfooter.png");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	margin-top: -55px;
}
.back{
	height: 3rem;
	width: 3rem;
	background-color: #002460;
	margin-top: -2rem;
	font-size: 2rem;
	color: #2196F3;
}
.footer-esq{
	height: 350px;
	background-color: #002460;
}
.vl {
  border: 2px solid #2196F3;
  margin-left: 50%;
  margin-right: 50%;
  height: 60px;
}
.hl {	
  height: 10px;
}
.bebas{
	font-family: "Bebas";
}
.telefone-title{
	margin-top: 50px;
	margin-left: 20px;
	font-size: 2rem;
}
.horario{
	margin-bottom: 100px;
}
.text-dark{
	color: #002460;
}
.endereco{
	margin: 1rem;
}
.divisor-footer {
	margin: 1rem 0rem 1rem 0rem !important;
	background-color: currentColor !important;
	width: 100% !important;
	color: #ffffff !important;
	border: 0 !important;
	opacity: 1 !important;
}
.copyright{
	margin-bottom: 3rem;
}
.endereco-item{
	margin-left: -10px !important;	
}
@media (min-width: 1200px) {
	.header {
		height: 100vh;
		min-height: 40rem;
		padding-top: 4.5rem;
		padding-bottom: 0;
	}
	.historia img{
		height: 450px;
		margin-left: -150px;
	}
	.vantagens {
		min-height: 35rem;
	} 
	.links{
		font-size: 1.5rem;
	}
	.marcas-esq-img{
		width: 500px;
		padding: 150px 0px 100px 0px;
	}
	.marcas-dir-img{
		margin: 0px 0px -6px -60px;
		height: 187px;
	}
}
@media(max-width: 1200px){
	.historia img{
		height: 350px;
		margin-left: -125px;
	}
	.espec-img{
		width: 300px;
		height: 75px;
		object-fit: cover;
		object-position: center;
	}
	.marcas-esq-img{
		width: 400px;
		padding: 0px;
	}
	.marcas-dir{
		margin-right: 0px;
	}
	.marcas-dir h4{
		padding: 50px 50px 50px 50px;
	}
	.marcas-dir-img{
		margin: 0px 0px -6px -60px;
	}
	footer{
		margin-top: -15px;
	}
}
@media(max-width: 992px){
	.historia img{
		height: 450px;
		margin-left: 20px;
	}
	.vantagens-img{
		display: none
	}
	.contato{
		font-size: 1.5rem;
	}
	.marcas-esq-img{
		width: 500px;
	}
	.marcas-dir-img{
		margin: 0px 0px -6px 0px;
	}
	.back{
		margin-top: 0px;
	}
}
@media(max-width: 650px){
	.logo img{
		width: 150px;
	}
	.historia img{
		height: 325px;
		margin-left: -50px;
	}
	.vantagens{
		background: rgb(0,97,188);
		background: linear-gradient(180deg, rgba(0,97,188,1) 0%, rgba(51,55,114,1) 100%);
	}
	h2{
		font-size: 30px;
	}
	h5{
		font-size: 16px;
	}
	.links{
		font-size: 1rem;
	}
	.contato{
		font-size: 1rem;
	}
	.contato-button{
		margin: 0;
	}
	.marcas-esq-img{
		width: 400px;
	}
}
@media(max-width: 420px){
	.historia img{
		height: 200px;
		margin-left: -30px;
	}
	.marcas-esq-img{
		width: 300px;
	}
	.marcas-dir-img{
		width: 100%;
	}
}

/* FONTES */

@font-face {
	font-family: 'Vegur Regular';
	src: url(../fonts/vegur/Vegur-Regular.otf);
}
@font-face {
	font-family: 'Vegur Bold';
	src: url(../fonts/vegur/Vegur-Bold.otf);
}
@font-face {
	font-family: 'Vegur Light';
	src: url(../fonts/vegur/Vegur-Light.otf);
}
@font-face {
	font-family: 'Bebas';
	src: url(../fonts/Bebas/BebasNeue-Regular.ttf);
}
@font-face {
	font-family: 'Comfortaa Bold';
	src: url(../fonts/Comfortaa/Comfortaa_Bold.ttf);
}